[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
psutil = "*"

[dev-packages]
twine = "*"
wheel = "*"

[requires]
python_version = "3.8"
